<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bootstrap.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
